/* app_development.css */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.sub-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.service-description p {
    margin-bottom: 10px;
}

.service-description ul {
    margin-bottom: 10px;
}

.service-description li {
    list-style-type: disc;
    margin-left: 20px;
    color: #ababab; /* Match text color from style.css */
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: bacground 0.5s;
}
.btn:hover {
    background: #ff004f;
}

